{% extends '::base.html.twig' %}

{% block header %}
    <!-- Jumbotron Header -->
    <header class="jumbotron spacer">
        <h1>Transport Manager</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
    </header>
{% endblock %}

{% block content %}
    {#<!-- Title -->#}
    {#<div class="row">#}
        {#<div class="col-lg-12">#}
            {#<h3>Latest Features</h3>#}
        {#</div>#}
    {#</div>#}
    {#<!-- /.row -->#}

    <!-- Page Features -->
    <div class="row text-center">

        {% include '::feature.html.twig' with {'title': 'Pusty feature', 'image': 'http://placehold.it/800x500', 'info': 'Lorem ipsum', 'path': 'homepage'} %}
        {% include '::feature.html.twig' with {'title': 'Pusty feature', 'image': 'http://placehold.it/800x500', 'info': 'Lorem ipsum', 'path': 'homepage'} %}
        {% include '::feature.html.twig' with {'title': 'Pusty feature', 'image': 'http://placehold.it/800x500', 'info': 'Lorem ipsum', 'path': 'homepage'} %}
        {% include '::feature.html.twig' with {'title': 'Pusty feature', 'image': 'http://placehold.it/800x500', 'info': 'Lorem ipsum', 'path': 'homepage'} %}

    </div>
{% endblock %}