{% extends '::base.html.twig' %}

{% block content %}
    <!-- Page Features -->
    <div class="row text-center">
        {% include '::feature.html.twig' with {'title': 'Zarejestruj firmę', 'image': 'images/company_information_800.jpg', 'info': 'Wypełnij podstawowe dane na temat swojej firmy', 'path': 'company_new'} %}
    </div>
{% endblock %}