{% extends '::base.html.twig' %}

{% block content %}
    <!-- Page Features -->
    <div class="row text-center">

        {% include '::feature.html.twig' with {'title': 'Dane firmy', 'image': 'http://placehold.it/800x500', 'info': 'Lorem ipsum', 'path': 'company_show'} %}
        {% include '::feature.html.twig' with {'title': 'Pracownicy', 'image': 'http://placehold.it/800x500', 'info': 'Lorem ipsum', 'path': 'employee'} %}

    </div>
{% endblock %}