{% extends '::base.html.twig' %}

{% block content %}
    <!-- Page Features -->
    <div class="row text-center">

        {% include '::feature.html.twig' with {'title': 'Dane firmy', 'image': 'images/company_information_800.jpg', 'info': 'Edycja podstawowe informacji', 'path': 'company_show'} %}
        {% include '::feature.html.twig' with {'title': 'Pracownicy', 'image': 'images/employees_3_800.jpg', 'info': 'Zarządzanie kadrą pracowników', 'path': 'employee'} %}
        {% include '::feature.html.twig' with {'title': 'Flota', 'image': 'images/fleet_2_800.jpg', 'info': 'Dysponowanie pojazdami', 'path': 'car'} %}
        {% include '::feature.html.twig' with {'title': 'Zlecenia', 'image': 'images/freights_2_800.jpg', 'info': 'Przegląd i zarządzanie frachtami', 'path': 'freight'} %}
        {% include '::feature.html.twig' with {'title': 'Klienci', 'image': 'images/clients_800.jpg', 'info': 'Przegląd kontrachentów', 'path': 'client'} %}
        {% include '::feature.html.twig' with {'title': 'Zestawienia', 'image': 'images/reports_800.jpg', 'info': 'Przegląd raportów z działąnia firmy ', 'path': 'report'} %}
        {% include '::feature.html.twig' with {'title': 'Dokumenty', 'image': 'images/documents_800.jpg', 'info': 'Zarządzanie dokumentami', 'path': 'car'} %}
        {% include '::feature.html.twig' with {'title': 'Dziennik', 'image': 'images/event_log_800.jpg', 'info': 'Przegląd zdarzeń i operacji', 'path': 'car'} %}

    </div>
{% endblock %}