<td>
    <div class="btn-group btn-group-xs btn-group-justified" role="group" aria-label="...">
        <a href="{{ path('freight_show', { 'id': cell.value.id }) }}" class="btn btn-primary">szczegóły</a>
        <a href="{{ path('freight_edit', { 'id': cell.value.id }) }}" class="btn btn-primary">edytuj</a>
    </div>
</td>