body {
    padding-top: 70px;
    background-image: url("../../images/background.png");
}

footer {
    margin: 50px 0;
}

ul {
    list-style-type: none;
}

.spacer {
    margin-top: 50px;
}

.feature {
    margin-bottom: 30px;
}

/*table tr:nth-child(odd) td, table tr:nth-child(odd) th { background-color: #00b3ee;}*/
table tr:nth-child(even) td, table tr:nth-child(even) th { background-color: #EFEFF1;}

.width100 {width: 100%;}
.padding0 {padding: 0;}
